<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Voting App</title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
</head>
<body class="container">
  <h1><%= @title %></h1>
  <p>You voted for: <%= Choices[@vote] %></p>
  <p><a href="/results">See the results!</a></p>
</body>
</html>